table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}


tr:nth-child(odd) {
  background-color: rgb(221, 221, 221);
}


button {
  color: white;
  background-color: rgb(34, 78, 236);
  border-radius: 15px;
  height: 30px;
  width: 150px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}